.timer {
  margin: auto;
  padding: 60px 24px;
  max-width: 1250px;
}
.timer__title {
  margin: auto;
  width: 75%;
  font-weight: bold;
  line-height: 55px;
  font-size: 48px;
  text-align: center;
  font-family: "Comfortaa", "cursive";
  color: var(--main-text-color);
}
.timer__title-accent {
  color: var(--text-accent-color);
}
.timer__subtitle {
  margin: auto;
  width: 75%;
  margin-top: 45px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: var(--main-text-color);
  font-family: "Comfortaa", "cursive";
}
.timer__dash {
  display: inline-block; 
  color: var(--text-accent-color);
  transform: scaleX(1.4); /* Розтягуємо по горизонталі */
  transform-origin: center; /* Розтягуємо по горизонталі, зберігаючи центр як точку трансформації */
}
.timer__note {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
  color: var(--second-text-color);
  font-family: "Comfortaa", "cursive";
  font-style: italic;
}
.timer__countdown {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 50px auto; /* Centering countdown by setting auto horizontal margins */
  text-align: center;
  gap: 30px;
}
.timer__unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  aspect-ratio: 1 / 1; /* Зберігаємо пропорції 1:1 для квадратної форми */
  height: auto;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.timer__value {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-text-color);
  font-family: "Comfortaa", "cursive";
}
.timer__label {
  font-size: 10px;
  color: var(--second-text-color);
  font-family: "Gothic A1", "cursive";
}
.timer__cta {
  display: block;
  margin: auto;
  background-color: var(--text-accent-color);
  color: var(--main-text-color);
  padding: 10px 28px;
  max-width: 200px;
  border: none;
  border-radius: 20px;
  font-family: "Gothic A1", "sans-serif";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s; /* Плавний перехід для кольору та трансформації */
}
.timer__cta:hover,
.timer__cta:focus {
  background-color: darken(
    var(--text-accent-color),
    10%
  ); /* Темніший відтінок при наведенні */
  transform: translateY(-2px); /* Легкий підйом при наведенні */
}
.timer__cta:active {
  background-color: darken(var(--text-accent-color), 15%);
  transform: translateY(0);
}
@media (min-width: 768px) {
  .timer__title {
    font-size: 58px;
  }
  .timer__subtitle {
    font-size: 26px;
  }
  .timer__value {
    font-size: 36px;
  }
  .timer__label {
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  .timer__title {
    font-size: 62px;
  }
  .timer__subtitle {
    font-size: 28px;
  }
}
