.bonus {
  max-width: 1250px;
  width: calc(100% - 48px);
  background-image: url("../img/bonus.webp");
  background-size: cover; /* Масштабує фото, щоб заповнити весь блок (висоту і ширину) */
  background-position: center; /* Центрує фото, тому обрізка йде порівну з обох боків */
  background-repeat: no-repeat; /* Забороняє повторення картинки */
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  .bonus__title {
    max-width: 85%;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 34px;
    font-family: "Comfortaa", "sans-serif";
    color: var(--main-text-color);
    .bonus__title-dot {
      color: var(--accent-color);
    }
  }
  .bonus__subtitle {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Gothic A1", "sans-serif";
    color: var(--main-text-color);
    .bonus__subtitle-highlight {
      color: var(--text-accent-color);
      font-weight: bold;
    }
  }
  .bonus__note {
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: "Gothic A1", "sans-serif";
    color: var(--second-text-color);
  }
  .bonus__cta {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 13px 30px;
    font-size: 16px;
    font-family: "Gothic A1", "sans-serif";
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    border-radius: 30px;
    cursor: pointer;
    background: none;
    font-weight: bold;
    transition: background-color 0.3s; /* Плавний перехід для кольору та трансформації */
    &:hover {
      background-color: var(--main-text-color);
      color: var(--background-color);
    }
  }
  @media (min-width: 768px) {
    min-height: 390px;
    .bonus__title {
      font-size: 38px;
      padding-top: 50px;
    }
  }
  @media (min-width: 1024px) {
    min-height: 480px;
    .bonus__title {
      font-size: 42px;
      padding-top: 50px;
    }
    .bonus__subtitle {
      font-size: 21px;
    }
  }
}
